// paper & background
$paper: #ffffff;

// orange
$orangeLight: #fbe9e7;
$orangeMain: #ffab91;
$orangeDark: #ff6433;

// grey
$grey200: #f2f2f2;
$grey300: #e2e6e9;
$grey500: #939191;

// ==============================|| DARK THEME VARIANTS ||============================== //

// paper & background
$darkBackground: #1a223f; // level 3
$darkPaper: #111936; // level 4

// dark 800 & 900
$darkLevel1: #232536; // level 1
$darkLevel2: #1e1b1b; // level 2

// ==============================|| JAVASCRIPT ||============================== //

:export {
  // paper & background
  paper: $paper;

  // orange
  orangeLight: $orangeLight;
  orangeMain: $orangeMain;
  orangeDark: $orangeDark;

  // grey
  grey200: $grey200;
  grey300: $grey300;
  grey500: $grey500;

  // ==============================|| DARK THEME VARIANTS ||============================== //

  // paper & background
  darkPaper: $darkPaper;
  darkBackground: $darkBackground;

  // dark 800 & 900
  darkLevel1: $darkLevel1;
  darkLevel2: $darkLevel2;
}
